<div class="earngo-de-container main" ng-controller="blankClipsController as ctrl" ng-init="ctrl.init()">
    <!-- Below when NO clips found -->

    <div class="card-panel" ng-if="ctrl.vm.isClipsNotAvailable">

        <div class="no-clips-message card-panel blue-grey white-text">
            <span>{{ 'DATA_ENTRY.NO_CLIPS_AVAILABLE' | translate }}</span>
        </div>

        <button class="taskcount-refresh waves-effect waves-light btn tooltipped ng-binding"
                ng-click="ctrl.refresh()"
                data-position="right">{{ 'HOME.REFRESH' | translate }}
        </button>

    </div>

    <!-- Below when Clips found -->

    <div class="card-panel" ng-if="!ctrl.vm.isClipsNotAvailable">
        <div class="row no-margin no-padding">

            <!-- Looping blank clips-->
            <div class="col s4" ng-repeat="clipObj in ctrl.vm.blankClipsList">
                <div class="card md-margin no-padding">
                    <div class="row no-margin no-padding">
                        <div class="col s8 no-padding">
                            <img ng-src="{{clipObj.CLIP_PATH }}"
                                 class="img-keyzoom rotate-{{cardCtrl.getRotation()}}" fallback-src="img/no-image.png"
                                 loading-src="assets/img/loading.png">
                        </div>
                        <div class="col s4 " style="padding: 1rem;">
                            <input type="checkbox" id="{{clipObj.DIST_NUM}}" class="unclear" value="Y"
                                   ng-model="clipObj.BLANK_STATUS">
                            <label for="{{clipObj.DIST_NUM}}" data-position="bottom" data-delay="50">{{
                                'CLIPS.NOT_BLANK' | translate}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <!--End of looping -->

        </div>

        <div class="row divider"></div>

        <div class="row no-margin no-padding">
            <div class="col s10 ">
                <input type="checkbox" id="chkSelectAll" class="unclear" ng-model="ctrl.vm.isAllClipsSelected"
                       ng-click="ctrl.allClipsSelected()">
                <label for="chkSelectAll" data-position="bottom" data-delay="50"> Select All</label>
            </div>

            <div class="col s2 right-align ">
                <button class="taskcount-refresh waves-effect waves-light btn tooltipped ng-binding"
                        ng-click="ctrl.refresh()"
                        data-position="right">{{ 'HOME.REFRESH' | translate }}
                </button>
            </div>
        </div>

        <div class="fixed-action-btn">
            <button class="submit waves-effect waves-light btn btn-large" ng-click="ctrl.saveClips()">{{ 'SUBMIT' |
                translate }}
            </button>
        </div>

    </div>
</div>