<div id="modal-alert" class="modal">
    <div class="modal-content">
        <h4>{{ 'ALERT_MODAL.TITLE' | translate }}</h4>
        <p>{{ alertCtrl.text }}</p>
    </div>
    <div class="modal-footer">
        <button id ="modal-alert-bttn-ok" class="modal-action modal-close waves-effect waves-light btn-flat">
            <strong>{{ 'OK' | translate }}</strong>
        </button>
    </div>
</div>
