<div class="card-row-hor-content">
    <div class="row no-margin">
        <div class="col s6">
            <input id="{{card.clipHtmlId}}-m" name="{{card.clipHtmlName}}" type="radio" class="with-gap" ng-focus="cardCtrl.showHelp(); cardCtrl.setActive();" ng-blur="cardCtrl.hideHelp(); cardCtrl.setInactive();" ng-disabled="cardCtrl.isUnclear" value="M" ng-attr-autofocus="{{$index == 0 || undefined}}">
            <label for="{{card.clipHtmlId}}-m"  data-position="bottom" data-delay="50">{{ 'CLIPS.OPTIONS.MALE' | translate }}</label>
        </div>
        <div class="col s6">
            <input id="{{card.clipHtmlId}}-f" name="{{card.clipHtmlName}}" type="radio" class="with-gap" ng-focus="cardCtrl.showHelp(); cardCtrl.setActive();" ng-blur="cardCtrl.hideHelp(); cardCtrl.setInactive();" ng-disabled="cardCtrl.isUnclear" value="F">
            <label for="{{card.clipHtmlId}}-f"  data-position="bottom" data-delay="50">{{ 'CLIPS.OPTIONS.FEMALE' | translate }}</label>
        </div>
    </div>
</div>