<div class="card-row-hor-content">
    <div class="row no-margin">
        <div class="col s6">
            <input id="{{card.clipHtmlId}}-y" name="{{card.clipHtmlName}}" type="radio" class="with-gap" ng-focus="cardCtrl.showHelp(); cardCtrl.setActive();" ng-blur="cardCtrl.hideHelp(); cardCtrl.setInactive();" ng-disabled="cardCtrl.isUnclear" value="Y" ng-attr-autofocus="{{$index == 0 || undefined}}">
            <label for="{{card.clipHtmlId}}-y"  data-position="bottom" data-delay="50" >{{ 'CLIPS.OPTIONS.YES' | translate }}</label>
        </div>
        <div class="col s6">
            <input id="{{card.clipHtmlId}}-n" name="{{card.clipHtmlName}}" type="radio" class="with-gap" ng-focus="cardCtrl.showHelp(); cardCtrl.setActive();" ng-blur="cardCtrl.hideHelp(); cardCtrl.setInactive();" ng-disabled="cardCtrl.isUnclear" value="N">
            <label for="{{card.clipHtmlId}}-n" data-position="bottom" data-delay="50" >{{ 'CLIPS.OPTIONS.NO' | translate }}</label>
        </div>
    </div>
</div>