<div id="timeout" class="modal">
    <div class="modal-content">
        <h4>{{ 'HELP_MODAL.TITLE' | translate }}</h4>
        <h5>{{ 'HELP_MODAL.TIPS' | translate }}</h5>
        <ul>
            <li>{{ 'HELP_MODAL.TIP_1' | translate }}</li>
            <li>{{ 'HELP_MODAL.TIP_3' | translate }}</li>
            <li>{{ 'HELP_MODAL.TIP_4' | translate }}</li>
            <li>{{ 'HELP_MODAL.TIP_5' | translate }}</li>
            <li>{{ 'HELP_MODAL.TIP_6' | translate }}</li>
            <li>{{ 'HELP_MODAL.TIP_7' | translate }}</li>
            <li>{{ 'HELP_MODAL.TIP_8' | translate }}</li>
            <li>{{ 'HELP_MODAL.TIP_9' | translate }}</li>
            <li>{{ 'HELP_MODAL.TIP_10' | translate }}</li>
            <li>{{ 'HELP_MODAL.TIP_11' | translate }}</li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="modal-action modal-close waves-effect waves-light btn"><strong>{{ 'HELP_MODAL.BUTTON_TEXT' | translate }}</strong></button>
    </div>
</div>
