<div class="login">
    <div class="container" ng-controller="signinController" ng-init="deviceInit()">
        <div class="row no-margin">
            <div class="col s12 m6 offset-m3 l6 offset-l3">
                <div class="login-content valign-wrapper">
                    <div class="card-panel valign no-margin" style="text-align:center;">
                        <img src="assets/img/signin-logo.png" alt="" >

                        <div class="row no-margin">
                            <form class="col s12">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="mdi-social-person-outline prefix"></i>
                                        <input type="email" id="inputEmail" ng-model="inputEmail" class="validate" required autofocus>
                                        <label for="inputEmail">{{'SIGNIN.EMAIL' | translate}}</label>
                                    </div>
                                    <!-- col -->
                                </div>
                                <!-- row -->
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="mdi-action-lock-outline prefix"></i>
                                        <input type="password" id="inputPassword" ng-model="inputPassword" class="validate" required>
                                        <label for="inputPassword">{{'SIGNIN.PASSWORD' | translate}}</label>
                                    </div>
                                    <!-- col -->
                                </div>
                                <!-- row -->
                                <div class="row">
                                    <div class="input-field col s12">
                                        <button class="btn waves-effect waves-light col s12" type="submit" ng-click="userLogin()">{{'SIGNIN.SIGN_IN' | translate}}</button>
                                    </div>
                                    <!-- col -->
                                </div>

                                <!-- row -->

                                <div class="divider no-margin"></div>

                                <!-- row -->
                                <div class="row">
                                    <h6 class="center-align" style="font-weigth:500;">{{'SIGNIN.OR_SIGN_IN_WITH' | translate}}</h6>

                                    <div class="input-field col s6">
                                        <button class="btn waves-effect waves-light light-blue darken-4 col s12 " type="button" ng-click="facebookLogin()">{{'SIGNIN.FACEBOOK' | translate}}
                                        </button>

                                    </div>
                                    <div class="input-field col s6">
                                        <button class="btn waves-effect red darken-1 waves-effect waves-light col s12 " type="button" ng-click="googleLogin()">{{'SIGNIN.GOOGLE+' | translate}}
                                        </button>
                                    </div>
                                </div>
                                <!-- row -->

                            </form>
                        </div>
                        <!-- row -->
                    </div>
                    <!-- card-panel -->
                </div>
                <!-- login -->
            </div>
            <!-- col -->
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</div><!-- login -->