<div class="earngo-de-container main" ng-controller="homeController">
    <div class="container">
        <div class="card-panel">
            <table class="responsive-table blue-text text-darken-4 text">
                <thead>
                <tr>
                    <th>{{ 'HOME.QUEUE' | translate }}</th>
                    <th>{{ 'HOME.TASKS' | translate }}</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>{{ 'HOME.DATA_ENTRY_CLIPS' | translate }}</td>
                    <td>
                        <a href="#clipUrgentEntry" class="new badge"> <span
                                id="spanUrgentDataEntry" class="label label-info">0 </span></a>
                    </td>
                </tr>
                <tr>
                    <td>{{ 'HOME.LARGE_CLIPS' | translate }}</td>
                    <td>
                        <a href="#largeEntry" class="new badge"><span
                                id="spanLargeClips" class="label label-info">0</span></a>
                    </td>
                </tr>
                <tr>
                    <td>{{ 'HOME.LINK_FORMS' | translate }}</td>
                    <td>
                        <a href="#taskCountExceptionMatch" class="new badge"><span
                                id="spanTaskCountExceptionMatch" class="label label-info">0</span></a>
                    </td>
                </tr>
                <tr>
                    <td>{{ 'HOME.CHECKER_TASK' | translate }}</td>
                    <td>
                        <a href="#tastCountChecker" class="new badge"><span
                                id="spanTastCountChecker" class="label label-info">0</span></a>
                    </td>
                </tr>

                <tr>
                    <td>{{ 'HOME.EXCEPTION_BPO' | translate }}</td>
                    <td>
                        <a href="#taskCountExceptionDE" class="new badge"><span
                                id="spanTaskCountExceptionDE" class="label label-info">0</span></a>
                    </td>
                </tr>
                <tr>
                    <td>{{ 'HOME.EXCEPTION_CHECKER' | translate }}</td>
                    <td>
                        <a href="#taskCountExceptionChecker" class="new badge"><span
                                id="spanTaskCountExceptionChecker" class="label label-info">0</span></a>
                    </td>
                </tr>

                <tr>
                    <td>{{ 'HOME.FORMS_IDENTIFIED' | translate }}</td>
                    <td>
                        <a href="#formsIdentified" class="new badge"><span
                                id="spanFormsIdentified" class="label label-info">0</span></a>
                    </td>

                </tr>
                <tr>
                    <td>{{ 'HOME.FORMS_PENDING' | translate }}</td>
                    <td>
                        <a href="#formsPending" class="new badge"><span
                                id="spanFormsPending" class="label label-info">0</span></a>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button class="taskcount-refresh waves-effect waves-light btn tooltipped ng-binding"
                                ng-click="refresh()" data-position="right">{{ 'HOME.REFRESH' | translate }}
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>


