<div class="row">
    <div class="col s12 m3">
        <span class="card-title">{{ card.title | translate }}</span>
    </div><!-- col -->
    <div class="col s12 m9">
        <img id="{{card.clipImgId}}" ng-src="{{card.clipPath}}" class="img-keyzoom rotate-{{cardCtrl.getRotation()}}" fallback-src="img/no-image.png"
             loading-src="assets/img/loading.png">
    </div><!-- col -->
    <div class="card-imagerotation" ng-include="'app/modules/components/card/partials/card-imagerotation.html'"></div>
</div><!-- row -->
