<div>
    <p class="mg-0 modalmsgtxt">{{ 'CUSTOMER.DASHBOARD.MAIN.CLIPTYPE.MCQ.INSTRUCTIONS' | translate }}</p>
    <p>{{ 'CUSTOMER.DASHBOARD.MAIN.CLIPTYPE.SELECTED_FIELD' | translate }} 
        <span ng-if="ctrl.mcqModel.mcqType == ctrl.clipTypeEnum.YES_NO">{{ 'CUSTOMER.DASHBOARD.MAIN.CLIPTYPE.MCQ.YES_NO' | translate }}</span>
        <span ng-if="ctrl.mcqModel.mcqType == ctrl.clipTypeEnum.MALE_FEMALE">{{ 'CUSTOMER.DASHBOARD.MAIN.CLIPTYPE.MCQ.MALE_FEMALE' | translate }}</span>
        <span ng-if="ctrl.mcqModel.mcqType == ctrl.clipTypeEnum.SINGLE_SELECT_HOR">{{ 'CUSTOMER.DASHBOARD.MAIN.CLIPTYPE.MCQ.SINGLE_SELECTION_HORIZONTAL' | translate }}</span>
        <span ng-if="ctrl.mcqModel.mcqType == ctrl.clipTypeEnum.SINGLE_SELECT_VERT">{{ 'CUSTOMER.DASHBOARD.MAIN.CLIPTYPE.MCQ.SINGLE_SELECTION_VERTICAL' | translate }}</span>
        <span ng-if="ctrl.mcqModel.mcqType == ctrl.clipTypeEnum.MULTI_SELECT_HOR">{{ 'CUSTOMER.DASHBOARD.MAIN.CLIPTYPE.MCQ.MULTIPLE_SELECTION_HORIZONTAL' | translate }}</span>
        <span ng-if="ctrl.mcqModel.mcqType == ctrl.clipTypeEnum.MULTI_SELECT_VERT">{{ 'CUSTOMER.DASHBOARD.MAIN.CLIPTYPE.MCQ.MULTIPLE_SELECTION_VERTICAL' | translate }}</span>
    </p>
    <p class="mg-0"><input name="typeMcqRad" type="radio" id="typeMcqRad1" value="{{ctrl.clipTypeEnum.YES_NO}}" ng-model="ctrl.mcqModel.mcqType"/>
        <label for="typeMcqRad1" class="tmp-type-rad">{{ 'CUSTOMER.DASHBOARD.MAIN.CLIPTYPE.MCQ.YES_NO' | translate }}</label></p>
    <p class="mg-0"><input name="typeMcqRad" type="radio" id="typeMcqRad2" value="{{ctrl.clipTypeEnum.MALE_FEMALE}}" ng-model="ctrl.mcqModel.mcqType"/>
        <label for="typeMcqRad2" class="tmp-type-rad">{{ 'CUSTOMER.DASHBOARD.MAIN.CLIPTYPE.MCQ.MALE/FEMALE' | translate }}</label></p>
    <p class="mg-0" style="margin-left: 35px;">{{ 'CUSTOMER.DASHBOARD.MAIN.CLIPTYPE.MCQ.MULTIPLE_CHOICE' | translate }}</p>
    <div class="row mg-0">
        <div class="col s11 offset-s1 type-multiple-sub1">
            <p class="mg-0">{{ 'CUSTOMER.DASHBOARD.MAIN.CLIPTYPE.MCQ.SINGLE_SELECTION' | translate }}</p>
            <div class="type-singleSelection-sub2">
                <p class="mg-0"><input name="typeMcqRad" type="radio" id="typeSingleSelRad7" value="{{ctrl.clipTypeEnum.SINGLE_SELECT_HOR}}" ng-model="ctrl.mcqModel.mcqType"/>
                    <label for="typeSingleSelRad7" class="tmp-type-rad">{{ 'CUSTOMER.DASHBOARD.MAIN.CLIPTYPE.MCQ.HORIZONTAL' | translate }}</label></p>
                <p class="mg-0"><input name="typeMcqRad" type="radio" id="typeSingleSelRad8" value="{{ctrl.clipTypeEnum.SINGLE_SELECT_VERT}}" ng-model="ctrl.mcqModel.mcqType"/>
                    <label for="typeSingleSelRad8" class="tmp-type-rad">{{ 'CUSTOMER.DASHBOARD.MAIN.CLIPTYPE.MCQ.VERTICAL' | translate }}</label></p>
                <p class="mg-0"><input name="typeMcqRad" type="radio" id="typeSingleSelRad9" value="single_tab"/>
                    <label for="typeSingleSelRad9" class="tmp-type-rad">{{ 'CUSTOMER.DASHBOARD.MAIN.CLIPTYPE.MCQ.TABLE' | translate }}</label></p>
                <input placeholder="Enter No. of Choices" id="choices_number_Single_normal" type="text" class="validate" ng-model="ctrl.mcqModel.choices"
                       style="width:30%; margin-left: 30px; display:none;">
                <input placeholder="Enter No. of Rows" id="choices_number_Single_row" type="text" class="validate" ng-model="ctrl.mcqModel.rows"
                       style="width:30%; margin-left: 30px; display:none;">
                <input placeholder="Enter No. of Cols" id="choices_number_Single_col" type="text" class="validate" ng-model="ctrl.mcqModel.cols"
                       style="width:30%; margin-left: 30px; display:none;">
            </div>
            <p class="mg-0">{{ 'CUSTOMER.DASHBOARD.MAIN.CLIPTYPE.MCQ.MULTIPLE_SELECTION' | translate }}</p>
            <div class="type-mulSelection-sub2">
                <p class="mg-0"><input name="typeMcqRad" type="radio" id="typeMulSelRad7" value="{{ctrl.clipTypeEnum.MULTI_SELECT_HOR}}" ng-model="ctrl.mcqModel.mcqType"/>
                    <label for="typeMulSelRad7" class="tmp-type-rad">{{ 'CUSTOMER.DASHBOARD.MAIN.CLIPTYPE.MCQ.HORIZONTAL' | translate }}</label></p>
                <p class="mg-0"><input name="typeMcqRad" type="radio" id="typeMulSelRad8" value="{{ctrl.clipTypeEnum.MULTI_SELECT_VERT}}" ng-model="ctrl.mcqModel.mcqType"/>
                    <label for="typeMulSelRad8" class="tmp-type-rad">{{ 'CUSTOMER.DASHBOARD.MAIN.CLIPTYPE.MCQ.VERTICAL' | translate }}</label></p>
                <p class="mg-0"><input name="typeMcqRad" type="radio" id="typeMulSelRad9" value="mul_tab"/>
                    <label for="typeMulSelRad9" class="tmp-type-rad">{{ 'CUSTOMER.DASHBOARD.MAIN.CLIPTYPE.MCQ.TABLE' | translate }}</label></p>
                <input placeholder="Enter No. of Choices" id="choices_number_Mul_normal" type="text" class="validate" ng-model="ctrl.mcqModel.choices"
                       style="width:30%; margin-left: 30px; display:none;">
                <input placeholder="Enter No. of Rows" id="choices_number_Mul_row" type="text" class="validate" ng-model="ctrl.mcqModel.rows"
                       style="width:30%; margin-left: 30px; display:none;">
                <input placeholder="Enter No. of Cols" id="choices_number_Mul_col" type="text" class="validate" ng-model="ctrl.mcqModel.cols"
                       style="width:30%; margin-left: 30px; display:none;">
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <a class=" modal-action modal-close waves-effect waves-green btn-flat clipMulBtnAgree" ng-click="ctrl.mcqAgree()" >{{ 'CUSTOMER.DASHBOARD.MAIN.CLIPTYPE.AGREE' | translate }}</a>
    </div>
</div>