<div><p class="mg-0 modalmsgtxt">{{ 'CUSTOMER.DASHBOARD.MAIN.CLIPTYPE.DATE_TIME.INSTRUCTIONS' | translate }}</p>
	<p>{{ 'CUSTOMER.DASHBOARD.MAIN.CLIPTYPE.SELECTED_FIELD' | translate }} 
		<span ng-if="ctrl.dateModel.dateType == ctrl.clipTypeEnum.DATE">{{ 'CUSTOMER.DASHBOARD.MAIN.CLIPTYPE.DATE_TIME.DATE' | translate }}</span>
		<span ng-if="ctrl.dateModel.dateType == ctrl.clipTypeEnum.TIME">{{ 'CUSTOMER.DASHBOARD.MAIN.CLIPTYPE.DATE_TIME.TIME' | translate }}</span>
		<span ng-if="ctrl.dateModel.dateType == ctrl.clipTypeEnum.DATE_AND_TIME">{{ 'CUSTOMER.DASHBOARD.MAIN.CLIPTYPE.DATE_TIME.DATE_TIME' | translate }}</span>
	</p>
    <p class="mg-0"><input name="typeDtRad" type="radio" id="typeDtRad1" value="{{ctrl.clipTypeEnum.DATE}}" ng-model="ctrl.dateModel.dateType"/>
        <label for="typeDtRad1" class="tmp-type-rad">{{ 'CUSTOMER.DASHBOARD.MAIN.CLIPTYPE.DATE_TIME.DATE' | translate }}</label></p>
    <p class="mg-0"><input name="typeDtRad" type="radio" id="typeDtRad2" value="{{ctrl.clipTypeEnum.TIME}}" ng-model="ctrl.dateModel.dateType"/>
        <label for="typeDtRad2" class="tmp-type-rad">{{ 'CUSTOMER.DASHBOARD.MAIN.CLIPTYPE.DATE_TIME.TIME' | translate }}</label></p>
    <p class="mg-0"><input name="typeDtRad" type="radio" id="typeDtRad3" value="{{ctrl.clipTypeEnum.DATE_AND_TIME}}" ng-model="ctrl.dateModel.dateType"/>
        <label for="typeDtRad3" class="tmp-type-rad">{{ 'CUSTOMER.DASHBOARD.MAIN.CLIPTYPE.DATE_TIME.DATE-TIME' | translate }}</label></p>

    <div class="modal-footer">
        <a class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="ctrl.dateAgree()">{{ 'CUSTOMER.DASHBOARD.MAIN.CLIPTYPE.AGREE' | translate }}</a>
    </div>
</div>