<div class="card-imagerotation" ng-include="'app/modules/components/card/partials/card-imagerotation.html'"></div>
<div class="row">
    <div class="col s6">
        <div class="card-image">
            <span class="card-title">{{ card.title | translate }}</span>
            <img id="{{card.clipImgId}}" ng-src="{{card.clipPath}}" class="img-keyzoom card-image-vertical rotate-{{cardCtrl.getRotation()}}" fallback-src="assets/img/no-image.png" loading-src="assets/img/no-image.png">
            <p class="card-msg card-msg-vertical">{{card.customMsg}}</p>
        </div><!-- card-image -->
    </div><!-- col -->
    <div class="col s6">
        <div class="card-content card-content-vertical" ng-include="cardCtrl.getInputsPartialPath(card.clipType)"></div><!-- card-content -->
        <div class="card-content card-content-vertical" ng-include="'app/modules/components/card/partials/inputs/unclear.html'"></div>
    </div><!-- col -->
</div><!-- row -->