<div class="earngo-de-container main" ng-controller="profileController" ng-init="initialize()">
    <div class="container">

        <div class="card-panel">
            <div class="row">
                <div class="input-field col s12 m6">
                    <input value="" id="firstName" type="text" class="validate" ng-model="user.firstName">
                    <label ng-class="{'active':user.lastName}" for="firstName">{{ 'PROFILE.FIRST_NAME.LABEL' | translate }}*</label>
                </div>
                <div class="input-field col s12 m6">
                    <input value="" id="lastName" type="text" class="validate" ng-model="user.lastName">
                    <label ng-class="{'active':user.lastName}" for="lastName">{{ 'PROFILE.LAST_NAME.LABEL' | translate }}*</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12 m6">
                    <input value="" id="mobileNo" type="text" class="validate" ng-model="user.mobileNo">
                    <label ng-class="{'active':user.mobileNo}" for="mobileNo">{{ 'PROFILE.MOBILE.LABEL' | translate }}*</label>
                </div>

                <div class="input-field col s12 m6">
                    <input value="" id="address" type="text" maxlength="255" class="validate" ng-model="user.address">
                    <label ng-class="{'active':user.address}" for="address">{{ 'PROFILE.ADDRESS.LABEL' | translate }}*</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12 m6">
                    <input value="" id="email" type="text" class="validate" ng-model="user.email">
                    <label ng-class="{'active':user.email}" for="email">{{ 'PROFILE.EMAIL.LABEL' | translate }}*</label>
                </div>

                <div class="input-field col s12 m6">
                    <input value="" id="country" type="text" class="validate" ng-model="user.country">
                    <label ng-class="{'active':user.country}" for="country">{{ 'PROFILE.COUNTRY.LABEL' | translate }}*</label>
                </div>
            </div>

            <h6><b>{{ 'PROFILE.ACCOUNT_DETAILS' | translate }}</b></h6>

            <div class="divider"></div>

            <div class="row">
                <div class="input-field col s12">
                    <input value="" id="accountNo" type="text" class="validate" ng-model="user.accountNo">
                    <label ng-class="{'active':user.accountNo}" for="accountNo">{{ 'PROFILE.ACCOUNT_NUMBER.LABEL' | translate }}*</label>
                </div>

            </div>

            <div class="row">
                <div class="input-field col s12 m6">
                    <input value="" id="ifscCode" type="text" class="validate" ng-model="user.ifscCode">
                    <label ng-class="{'active':user.ifscCode}" for="ifscCode">{{ 'PROFILE.IFSC_CODE.LABEL' | translate }}* </label>
                </div>

                <div class="input-field col s12 m6">
                    <input id="bankName" type="text" class="validate" ng-model="user.bankName">
                    <label ng-class="{'active':user.bankName}" for="bankName">{{ 'PROFILE.BANK_NAME.LABEL' | translate }}* </label>
                </div>
                <div class="col s12 left-align">
                    <p>{{ 'PROFILE.REQUIRED_INSTRUCTION' | translate }}*</p> </div>
            </div>


            <div class="row">
                <div class="col s12 left-align">
                    <input type="checkbox" id="chkCertified" ng-model="user.isInformationVerified"/>
                    <label for="chkCertified">{{ 'PROFILE.VERIFIY_DETAILS' | translate }}</label>
                </div>
            </div>


            <div class="row">
                <div class="col s12 m6 left-align prof-btn-div">
                    <a class="waves-effect waves-light btn" ng-click="redeemPoints()">
                        <i class="material-icons right">send</i>{{ 'PROFILE.BUTTONS.REDEEM.LABEL' | translate }}</a>
                </div>

                <div class="col s6 m3 prof-btn-div prof-btn-div-l">
                    <button class="btn waves-effect waves-light prof-sm-btn" type="button" name="action" ng-click="updateAction()">
                        {{ 'PROFILE.BUTTONS.UPDATE.LABEL' | translate }}
                    </button>
                </div>

                <div class="col s6 m3 prof-btn-div prof-btn-div-r">
                    <button class="btn waves-effect waves-light prof-sm-btn red lighten-2" type="button" name="action" ng-click="cancelAction()">
                        {{ 'PROFILE.BUTTONS.CANCEL.LABEL' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


